certifi==2018.1.18
chardet==3.0.4
click==6.7
dash==0.21.0
dash-core-components==0.21.1
dash-html-components==0.9.0
dash-renderer==0.12.1
decorator==4.2.1
Flask==0.12.2
Flask-Compress==1.4.0
idna==2.6
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
jupyter-core==4.4.0
MarkupSafe==1.0
nbformat==4.4.0
nltk==3.2.5
numpy==1.14.2
oauthlib==2.0.7
pandas==0.22.0
plotly==2.5.1
PySocks==1.6.8
python-dateutil==2.7.2
python-memcached==1.59
pytz==2018.3
regex==2018.2.21
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
textblob==0.15.1
traitlets==4.3.2
tweepy==3.6.0
Unidecode==1.0.22
urllib3==1.22
vaderSentiment==2.5
Werkzeug==0.14.1
